@import 'abstracts/variables';
@import 'abstracts/mixins';

@import 'base/reset';
@import 'base/typography';

@import 'composants/buttons';
@import 'composants/carousel';
@import 'composants/cover';
@import 'composants/dropdown';

@import 'layout/footer';
@import 'layout/forms';
@import 'layout/grid';
@import 'layout/header';
@import 'layout/navigation';
@import 'layout/sidebar';

@import 'pages/home';
@import 'pages/discover';
@import 'pages/gps';
@import 'pages/infosPratique';
@import 'pages/_parcours';
@import 'pages/_transport';
@import 'themes/admin';
@import 'themes/theme';

