body {
    margin: 0;
    padding: 0;
}

.selectionCart {
    position: absolute;
    top: 20%;
    left: 50%;
    width: 45%;
    height: 600px;
    padding: 0.5%;
    margin: 0.5%;
}

.firstSide {
    padding: 2%;
    background-color: rgb(58, 72, 180);
    height: 15%;   
    border-radius: 20px;
    margin-bottom: 1%;
    height: auto;

}
.titreFirstSide {
    color: antiquewhite;
    text-decoration: solid;
    letter-spacing: .6px;
}
.contenuFisrtSlide {
    display: flex;
    justify-content: space-evenly;
    padding: 2%;
    margin: 1%;
}



.selectGps {
    font-size: 0.9rem;
    padding: 2px 5px;
    width: auto;
    height: 50px;
    border-radius: 7%;
    }

.imgCardGps {
    padding: 2%;
    display: flex;
    flex-direction: column;
    height: 250px;
    width:  300px;
}

#secondSide {
    display: flex;
    flex-direction: column;
    max-height: 500px;
    overflow: auto;
}  
.containerBox {
    display: flex;
    flex-direction: row;
}

#secondSide :hover {
    background-color: rgba($color: #446d97d4, $alpha: 1.0);
    .paraghraphSecondSlide {
        color: rgb(255, 255, 255);
    }
    .titreContenuSecondSlide {
        color: aliceblue;

    }
    .imgCardGps {
        -webkit-filter: grayscale(100%) blur(3px);
	    filter: grayscale(100%) blur(3px);
    }
}
.contenuSecondSlid {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding: 1%;
    text-align: center;
}  
#jeunContenuSecondSlide {
    background-color: rgb(209, 172, 22);
    color: whitesmoke;
    padding: 1%;
}
#petitTitreContenuSecondSlide {
    color: rgb(56, 156, 227);
}
#titreContenuSecondSlide {
    color: black;
    font-weight: 700;
}
#paraghraphSecondSlide {
    color: rgb(72, 71, 71);
}


#map{
    position: absolute;
    top: 20%;
    padding: 0.5%;
    margin: 0.5%;
    height: 650px;
    width: 45%;
    border-radius: 20px;

}


@media only screen and (max-width: 768px)  {
    .body {
        margin-right: 10%;
    }
    .firstSide{
        width: 700px;
    }
    .contenuFisrtSlide {
       width: 100%;
    }
    
    .selectionCart {
    position: absolute;
    left: 0; 
    top: 15%;
          
    }
    #secondSide {
        display: none;
    }
    
    #map {
        top: 30%;
         width: 100%;
    }

}
