
body {
    font-family: 'Varela Round', sans-serif;

}
main {
    width: 100%;
    width: 100%;
    height: 100%;
}

.containerSlider {
    height: 100%;
    margin: auto;
    width: 70%;
    // margin-left: 20%;
   
}
.contenuContainer {
    color: aliceblue;
    height: auto;
    width: auto;
    margin: auto;
    text-align: center;
    text-decoration: solid;
}

.containerText {
    
        position: absolute;
        top: 40%;
        text-align: center;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        color: rgb(250, 250, 250);
        width: 35%;
        margin-left: 18%;
        gap: 20px;
        letter-spacing: 3px;
    
    }
    .savoirPlus{
        width: auto;
        height: 40px;    
        border-radius: 7px;
        background: none;
        color: white;
        font-size: larger;
        margin-left: 10px;    
    }
    .savoirPlus:hover{
        background-color: #4F29F0;
    }

#slider {
    position: relative;
    width: 100%;
    margin: auto;
    display: flex;
    align-items: center;
}
#slide{
    width: 100%;
    height: auto;
}

#precedent, #suivant {
    position: absolute;
    font-size: 100px;
    background-color:rgba(0, 0, 0, 0.762);
    color: white;
    cursor: pointer;
    opacity: 0;
    transition: opacity 0.3s ease ;
    top: 50%;

}
#precedent {
    // display: none;
    left: 0;
}
#suivant {
    // display: none;
    right: 0;
}
#slider:hover #precedent,#slider:hover #suivant {
    opacity: 1;
}

.containerButtons {
    display: flex;
    justify-content: space-around;
    margin: 5%;
}
.btn {
    --light: #fff;
    --dark: #414856;
    --border: #C3C8DE;
    --background: #4F29F0;
    width: auto;
    height: 60px;
    border-radius: 5px;
    border: 1px solid var(--border);
    background: none;
    padding: 0 30px;
    outline: none;
    box-shadow: 0 10px 30px rgba(#414856, 0.1);
}

.btnGris:hover {
    background-color: #414856;
    color: white;
}
.btnBleu {
    background-color: #4F29F0;
    color: #C3C8DE;
}

.containerExtension {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
    gap: 3rem;
    padding:5% 7%;
}
.bodyForm {
    align-items: center;
    // background-color: #000;
    display: flex;
    justify-content: center;
    height: 100vh;
  }

.form {
    background-color: #15172b;
    border-radius: 20px;
    box-sizing: border-box;
    height: 550px;
    padding: 20px;
    width: 80%;
    text-align: center ;
  }
  
  .titleForm {
    color: #eee;
    font-family: sans-serif;
    font-size: 36px;
    font-weight: 600;
    margin-top: 30px;
  }
  
  .subtitle {
    color: #eee;
    font-family: sans-serif;
    font-size: 16px;
    font-weight: 600;
    margin-top: 10px;
  }
  
  .input-container {
    height: 50px;
    position: relative;
    width: 100%;
  }
  
  .ic1 {
    margin-top: 2%;
  }
  
  .ic2 {
    margin-top: 2%;
  }
  .ic3 {
    margin-top: 2%;
  }
  .ic4 {
    margin-top: 2%;
  }
  .ic5 {
    margin-top: 2%;
  }
  
  .input {
    background-color: #303245;
    border-radius: 12px;
    border: 0;
    box-sizing: border-box;
    color: #eee;
    font-size: 18px;
    height: 100%;
    outline: 0;
    padding: 4px 20px 0;
    width: 100%;
  }
  
  .placeholder {
    color: #65657b;
    font-family: sans-serif;
    left: 20px;
    line-height: 14px;
    pointer-events: none;
    position: absolute;
    transform-origin: 0 50%;
    transition: transform 200ms, color 200ms;
    top: 20px;
  }
  
  .input:not(:placeholder-shown) ~ .placeholder {
    color: #808097;
  }
  
  .input:focus ~ .placeholder {
    color: #dc2f55;
  }
  
  .submit {
    background-color: #08d;
    border-radius: 12px;
    border: 0;
    box-sizing: border-box;
    color: #eee;
    cursor: pointer;
    font-size: 18px;
    height: 50px;
    margin-top: 5%;
    // outline: 0;
    text-align: center;
    width: 100%;
  }
  
  .submit:active {
    background-color: #06b;
  }

// Partie About --------------------------------------------------------------------------------------------

.about-home{
    text-align: center;
    margin-left: 15%;
    margin-right: 14.7%;
    
}
.titre-about{
    margin-bottom: 4vh;
    font-size: 2.5em;
    font-weight: lighter;
}
.text-about{
    line-height: 3vh;
}
