
body {
    font: 'Varela Round', sans-serif;

}
main {
    width: 100%;
    height: 100%;
}

.containerSlider {
    height: 100%;
    margin: auto;
    width: 100%;
    // margin-left: 20%;
   
}
.contenuContainer {
    color: aliceblue;
    height: auto;
    width: auto;
    margin: auto;
    text-align: center;
    text-decoration: solid;
}

.containerText {
    position:absolute;
    top: 70%;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    color: rgb(250, 250, 250);
    width: 35%;
    margin-left: 35%;
    gap: 20px;
    letter-spacing: 5%;
    }
    .savoirPlus{
        width: auto;
        height: 40px;    
        border-radius: 7px;
        background: none;
        color: white;
        font-size: larger;
        margin-left: 10px;    
    }
    .savoirPlus:hover{
        background-color: #4F29F0;
    }

#slider {
    position: relative;
    width: 100%;
    margin: auto;
    display: flex;
    align-items: center;
}
#slide{
    width: 100%;
    height: auto;
}

#precedent, #suivant {
    position: absolute;
    font-size: 100px;
    background-color:rgba(0, 0, 0, 0.762);
    color: white;
    cursor: pointer;
    opacity: 0;
    transition: opacity 0.3s ease ;
    top: 50%;

}
#precedent {
    // display: none;
    left: 0;
}
#suivant {
    // display: none;
    right: 0;
}
#slider:hover #precedent,#slider:hover #suivant {
    opacity: 1;
}

.containerButtons {
    display: flex;
    justify-content: space-around;
    margin: 5%;
}
.btn {
    --light: #fff;
    --dark: #414856;
    --border: #C3C8DE;
    --background: #4F29F0;
    width: auto;
    height: 60px;
    border-radius: 5px;
    border: 1px solid var(--border);
    background: none;
    padding: 0 30px;
    outline: none;
    box-shadow: 0 10px 30px rgba(#414856, 0.1);
}

.btnGris:hover {
    background-color: #414856;
    color: white;
}
.btnBleu {
    background-color: #4F29F0;
    color: #C3C8DE;
}

.containerExtension {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
    gap: 3rem;
    padding:5% 7%;
}


